
.header{
  display: flex;
  justify-content: space-around;
  background: black;
  box-shadow: 5px 5px 5px white;
}

.header-title{
text-decoration: none;
color: white
}

.header-text{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  color: white
}

#nodec{
  text-decoration: none;
  color: white;
}


  /* ================================= */
/* NavInfo */

.navinfo-text{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  color: white;
  
}

.navinfo-text-signedout{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: start;
  color: white;
  gap: 50px;
  
}

.navinfo-subtext{
  display: flex;
  flex-direction: column;
gap: 35px;
  justify-content: space-around;
  color: white;
}

.sidebar{
  display: flex;
  flex-direction: column;
  
  color: white;
  width: 20vw;
  position: sticky;
  left: 0;
  top:0;
  
}

#logout-button{
  margin: 20px;
}


.nav{
  position: sticky;
  top:0px;
}

@media only screen and (max-width: 600px) {
  .header, .sidebar{
    transform: scale(0);
  }
}