
.header{
  display: flex;
  justify-content: space-around;
  background: white;
  box-shadow: 5px 5px 5px white;
}

.header-title{
text-decoration: none;
color: white
}

.header-text{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  color: white
}

#nodec{
  text-decoration: none;
  color: white;
}

#nodec1{
  text-decoration: none;
  color: rgb(0, 149, 255);
}

.header-title{
  text-decoration: none;
}


  /* ================================= */
/* NavInfo */

.navinfo-text{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  color: white;
  
}

.navinfo-text-signedout{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: start;
  color: white;
  gap: 50px;
  
}

.navinfo-subtext{
  display: flex;
  flex-direction: column;
gap: 35px;
  justify-content: space-around;
  color: white;
}

.sidebar{
  display: flex;
  flex-direction: column;
  
  color: white;
  width: 20vw;
  position: sticky;
  left: 0;
  top:0;
  
}

#logout-button{
  margin: 20px;
}


.nav{
  position: sticky;
  top:0px;
}

.ham{
  transform: scale(0);
}

@media only screen and (max-width: 600px) {
  .header, .no-show{
    transform: translateX(-500px);
    transition: transform 0.2s;
    z-index: 5;
    background: black;
    width: 200px;
    padding: 10px;
  }

.show{
  transform: translateX(0);
  transition: transform 0.2s;
  z-index: 5;
  background: black;
  width: 200px;
  padding: 10px;
}

  .ham {
    transform: scale(1);
    margin: 20px;
    border: none;
    color: white;
    font-size: 2rem;
    background-color: white;
    cursor: pointer;
    z-index: 6;
    position: absolute;
    top: 0;
    left: 0;
  }

  .closeIcon {
    display: none;
  }

 

}