.search-form{
  width:max-content;
}

.search-form-input{

 
}


.sort-label{
  color: white;
}
.search-input{
  width: 300px;
}

.fontAwesome-search {
  font-family: 'Helvetica', FontAwesome, sans-serif;
  /* width: 60%; */
  
  letter-spacing: 0.1px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;

}

.image-upload{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media only screen and (max-width: 1200px) {
.search-input{
  width: 300px;
}
}

@media only screen and (max-width: 600px) {
  .search-input{
  width: 150px;
  font-size: .5rem;
  }
  .sort-label{
    font-size: .5rem;
  }
}